Development/0.5/ids_05.xsd

<!-- edited with XMLSpy v2022 (x64) (http://www.altova.com) by buildingSMART International Ltd. -->
<!-- January 27, 2022 - DRAFT  -->
<xs:schema xmlns:ids="http://standards.buildingsmart.org/IDS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://standards.buildingsmart.org/IDS" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.5.4">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.w3.org/2001/XMLSchema" schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>
	<xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="http://www.w3.org/2001/XMLSchema-instance"/>
	<xs:element name="ids">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="info">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" type="xs:string"/>
							<xs:element name="copyright" type="xs:string" minOccurs="0"/>
							<xs:element name="version" type="xs:string" minOccurs="0"/>
							<xs:element name="description" type="xs:string" minOccurs="0"/>
							<xs:element name="author" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[^@]+@[^\.]+\..+"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="date" type="xs:date" minOccurs="0"/>
							<xs:element name="purpose" type="xs:string" minOccurs="0"/>
							<xs:element name="milestone" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="specifications">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ids:specificationsType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="entityType">
		<xs:sequence>
			<xs:element name="name" type="ids:idsValue"/>
			<xs:element name="predefinedType" type="ids:idsValue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="idsValue">
		<xs:choice minOccurs="1">
			<!-- place for potential additional rules for idsValue -->
			<xs:element name="simpleValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="xs:restriction" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="classificationType">
		<xs:sequence>
			<xs:element name="value" type="ids:idsValue"/>
			<xs:element name="system" type="ids:idsValue" minOccurs="0"/>
			<xs:element name="instructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author of the IDS can leave instructions for the authors of the IFC. This text could/should be displayed in the BIM/IFC authoring tool.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="location" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="type"/>
					<xs:enumeration value="instance"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="applicabilityType">
		<xs:sequence>
			<xs:element name="entity" type="ids:entityType" minOccurs="0"/>
			<xs:element name="classification" type="ids:classificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="attribute" type="ids:attributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:propertyType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="material" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:materialType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="systemType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="href" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:sequence>
			<xs:element name="propertySet" type="ids:idsValue"/>
			<xs:element name="name" type="ids:idsValue"/>
			<xs:element name="ifcMeasure" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IfcAreaDensityMeasure" />
						<xs:enumeration value="IfcAreaMeasure" />
						<xs:enumeration value="IfcDynamicViscosityMeasure" />
						<xs:enumeration value="IfcElectricCapacitanceMeasure" />
						<xs:enumeration value="IfcElectricChargeMeasure" />
						<xs:enumeration value="IfcElectricConductanceMeasure" />
						<xs:enumeration value="IfcElectricCurrentMeasure" />
						<xs:enumeration value="IfcElectricResistanceMeasure" />
						<xs:enumeration value="IfcElectricVoltageMeasure" />
						<xs:enumeration value="IfcEnergyMeasure" />
						<xs:enumeration value="IfcForceMeasure" />
						<xs:enumeration value="IfcFrequencyMeasure" />
						<xs:enumeration value="IfcHeatFluxDensityMeasure" />
						<xs:enumeration value="IfcHeatingValueMeasure" />
						<xs:enumeration value="IfcIlluminanceMeasure" />
						<xs:enumeration value="IfcIonConcentrationMeasure" />
						<xs:enumeration value="IfcIsothermalMoistureCapacityMeasure" />
						<xs:enumeration value="IfcLengthMeasure" />
						<xs:enumeration value="IfcLinearVelocityMeasure" />
						<xs:enumeration value="IfcLuminousFluxMeasure" />
						<xs:enumeration value="IfcLuminousIntensityMeasure" />
						<xs:enumeration value="IfcMassDensityMeasure" />
						<xs:enumeration value="IfcMassFlowRateMeasure" />
						<xs:enumeration value="IfcMassMeasure" />
						<xs:enumeration value="IfcMassPerLengthMeasure" />
						<xs:enumeration value="IfcModulusOfElasticityMeasure" />
						<xs:enumeration value="IfcMoistureDiffusivityMeasure" />
						<xs:enumeration value="IfcMolecularWeightMeasure" />
						<xs:enumeration value="IfcMomentOfInertiaMeasure" />
						<xs:enumeration value="IfcPHMeasure" />
						<xs:enumeration value="IfcPlanarForceMeasure" />
						<xs:enumeration value="IfcPlaneAngleMeasure" />
						<xs:enumeration value="IfcPlaneAngleMeasure" />
						<xs:enumeration value="IfcPowerMeasure" />
						<xs:enumeration value="IfcPressureMeasure" />
						<xs:enumeration value="IfcRadioActivityMeasure" />
						<xs:enumeration value="IfcRatioMeasure" />
						<xs:enumeration value="IfcRotationalFrequencyMeasure" />
						<xs:enumeration value="IfcSectionModulusMeasure" />
						<xs:enumeration value="IfcSoundPowerMeasure" />
						<xs:enumeration value="IfcSoundPressureMeasure" />
						<xs:enumeration value="IfcSpecificHeatCapacityMeasure" />
						<xs:enumeration value="IfcTemperatureRateOfChangeMeasure" />
						<xs:enumeration value="IfcThermalConductivityMeasure" />
						<xs:enumeration value="IfcThermodynamicTemperatureMeasure" />
						<xs:enumeration value="IfcTimeMeasure" />
						<xs:enumeration value="IfcTorqueMeasure" />
						<xs:enumeration value="IfcVaporPermeabilityMeasure" />
						<xs:enumeration value="IfcVolumeMeasure" />
						<xs:enumeration value="IfcVolumetricFlowRateMeasure" />
						<xs:enumeration value="IfcWarpingConstantMeasure" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="value" type="ids:idsValue"/>
			<xs:element name="instructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author of the IDS can leave instructions for the authors of the IFC. This text could/should be displayed in the BIM/IFC authoring tool.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="location" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="type"/>
					<xs:enumeration value="instance"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="attributeType">
		<xs:sequence>
			<xs:element name="name" type="ids:idsValue"/>
			<xs:element name="value" type="ids:idsValue"/>
		</xs:sequence>
		<xs:attribute name="location" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="type"/>
					<xs:enumeration value="instance"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="materialType">
		<xs:sequence>
			<xs:element name="value" type="ids:idsValue"/>
			<xs:element name="instructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author of the IDS can leave instructions for the authors of the IFC. This text could/should be displayed in the BIM/IFC authoring tool.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="location" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="type"/>
					<xs:enumeration value="instance"/>
					<xs:enumeration value="any"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="requirementsType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="entity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Make sure 'Name' value of requirements entity is the same as the 'applicability' node, or a wildcard (inclusive pattern).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:entityType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="partOf" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="entity" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="IfcElementAssembly"/>
								<xs:enumeration value="IfcGroup"/>
								<xs:enumeration value="IfcSystem"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="classification" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:classificationType">
							<xs:attribute name="uri" type="xs:anyURI" use="optional"/>
							<xs:attribute name="use" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="optional"/>
										<xs:enumeration value="prohibited"/>
										<xs:enumeration value="required"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:attributeType">
							<xs:attribute name="use" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="optional"/>
										<xs:enumeration value="prohibited"/>
										<xs:enumeration value="required"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:propertyType">
							<xs:attribute name="uri" type="xs:anyURI" use="optional"/>
							<xs:attribute name="use" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="optional"/>
										<xs:enumeration value="prohibited"/>
										<xs:enumeration value="required"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="material" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ids:materialType">
							<xs:attribute name="uri" type="xs:anyURI" use="optional"/>
							<xs:attribute name="use" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="optional"/>
										<xs:enumeration value="prohibited"/>
										<xs:enumeration value="required"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="specificationType">
		<xs:sequence>
			<xs:element name="applicability" type="ids:applicabilityType"/>
			<xs:element name="requirements" type="ids:requirementsType"/>
			<xs:element name="instructions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Author of the IDS can leave instructions for the authors of the IFC. This text could/should be displayed in the BIM/IFC authoring tool.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ifcVersion" use="required">
			<xs:simpleType>
				<xs:list>
				<xs:simpleType>				
						<xs:restriction base="xs:string">
							<xs:enumeration value="IFC2X3"/>
							<xs:enumeration value="IFC4"/>
							<xs:enumeration value="IFC4_3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="use" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="optional"/>
					<xs:enumeration value="prohibited"/>
					<xs:enumeration value="required"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="specificationsType">
		<xs:sequence>
			<xs:element name="specification" type="ids:specificationType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>